.CatView__container img {
    height: 40%;
    width: 100%;
  }
  .CatView__container{
    width: 100%;
  }

  .CatView__image {
    height: 50%;
    width: 100%;
    justify-content: center;
  }

  .CatView_button {
    border: 0;
    font-size: 30px;
    background: transparent;
    border: solid 5px red;
    margin-top: 10px;
  }